APP_ENV=development
XDEBUG_CONFIG=remote_port=9001 remote_host=172.17.0.1 remote_autostart=1 remote_log=/home/user/xdebug.log
PHP_IDE_CONFIG=serverName=Scout
ELASTICSEARCH_HOST=elasticsearch:9200
DB_HOST=db
DB_PORT=3306
DB_DATABASE=my_database
DB_USERNAME=root
DB_PASSWORD=my_password
