includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            path: %currentWorkingDirectory%/src/Engines/ElasticSearchEngine.php
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::searchableAs\(\)\.#'

