includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\HigherOrder#'
        -
            path: %currentWorkingDirectory%/src/Engines/ElasticSearchEngine.php
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::searchableAs\(\)\.#'
        -
            path: %currentWorkingDirectory%/src/Engines/ElasticSearchEngine.php
            message: '#message.*ServerErrorResponseException constructor expects string, string\|false given.#'
        -
            path: %currentWorkingDirectory%/src/Engines/ElasticSearchEngine.php
            message: '#Parameter \#2 \$search of function array_key_exists expects array, array\|\(callable\) given\.#'
        -
            path: %currentWorkingDirectory%/src/Jobs/Stages/SwitchToNewAndRemoveOldIndex.php
            message: '#Argument of an invalid type array\|\(callable\) supplied for foreach, only iterables are supported\.#'
